{% extends "base.html" %}
{% block title %}My amazing detail{% endblock %}


{% block body %}

    <h1>Choose form</h1>
    <br>
    <div class="row">
        <div class="col-md-auto">
            <h3>Total number of forms for {{board.description}}: {{board.form_set.count}}</h3>
        </div>
        <div class="col"></div>
        <div class="col-md-auto">
                 <span class="float-right">
                    <a href="{% url 'forecast:iterations' %}" class="btn btn-secondary" role="button">
                        View Iterations
                    </a>
                 </span>
        </div>
        <div class="col-md-auto">
                <span class="float-right">

                </span>
        </div>
    </div>
    <br>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-light btn-lg btn-block" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b> Create Form </b>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                 data-parent="#accordion" style="background-color: rgb(240, 240, 240);">
                <div class="card-body">
                        <div class="container">
                            <form action="{% url 'forecast:create_form' board.id%}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="wip_lower_bound">WIP - Low</label>
                                        <input type="text" name="wip_lower_bound" class="form-control" id="wip_lower_bound" value="20">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="wip_upper_bound">WIP - High</label>
                                        <input type="text" name="wip_upper_bound" class="form-control" id="wip_upper_bound" value="30">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="split_factor_lower_bound">Split Rate - Low</label>
                                        <input type="text" name="split_factor_lower_bound" class="form-control" id="split_factor_lower_bound" value="1.00">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="split_factor_upper_bound">Split Rate - High</label>
                                        <input type="text" name="split_factor_upper_bound" class="form-control" id="split_factor_upper_bound" value="3.00">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="throughput_lower_bound">Throughput - Low</label>
                                        <input type="text" name="throughput_lower_bound" class="form-control" id="throughput_lower_bound" value="1">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="throughput_upper_bound">Throughput - High</label>
                                        <input type="text" name="throughput_upper_bound" class="form-control" id="throughput_upper_bound" value="5">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="description">Form name</label>
                                        <input type="text" class="form-control" name="description" id="description" value="New Form">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="simulation_count">Simulation count</label>
                                        <input type="text" name="simulation_count" class="form-control" id="simulation_count" value="100">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="throughput_from_data">Throughput Source</label>
                                        <select name="throughput_from_data" id="throughput_from_data" class="form-control">
                                            <option id="inputOptionForm" selected>Form Input</option>
                                            <option id="inputOptionData" >Historical Data</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4" align="center">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </form>

                        </div>

                </div>
            </div>
        </div>
    </div>

    <br>

    <input class="form-control" id="myInput" type="text" placeholder="Search by keyword...">
    <br>

    <form action="{% url 'forecast:estimate' board.id %}" method="post">
        {% csrf_token %}

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Choose </th>
                    <th>Form (Hover for details)</th>
                    <th>Number of Simulations</th>
                    <th>Historical data</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for form in board.form_set.all %}
                    <tr>
                        <td>
                            <input type="radio" name="form" id="form{{ forloop.counter }}" value="{{ form.id }}">
                        </td>
                        <td>
                            <label for="form{{ forloop.counter }}" data-toggle="tooltip"
                                   title="{{ form.description }}">
                                {{ form.description }}
                            </label>
                        </td>
                        <td>
                            {{form.simulation_count}}
                        </td>
                        <td>
                            {% if form.throughput_from_data %}
                                Yes
                            {% else %}
                                No - High/Low Guess
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Estimate {{ board.description }}">
    </form>
    {% if error_message %}
        <p>
            <strong> Warning: {{ error_message }} </strong>
        </p>
    {% endif %}


    <script>
        $(document).ready(function(){$("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}