{% extends "base.html" %}
{% block title %}My amazing detail{% endblock %}


{% block body %}

    <h1>Choose form</h1>
    <br>
    <div class="row">
        <div class="col-md-auto">
            <h3>Total number of forms for {{board.name}}: {{board.form_set.count}}</h3>
        </div>
        <div class="col"></div>
        <div class="col-md-auto">
                 <span class="float-right">
                    <a href="{% url 'forecast:iterations' %}" class="btn btn-secondary" role="button">
                        View Iterations
                    </a>
                 </span>
        </div>
        <div class="col-md-auto">
                <span class="float-right">

                </span>
        </div>
    </div>
    <br>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-light btn-lg btn-block" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b> Create Form (click to collapse)</b>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                 data-parent="#accordion" style="background-color: rgb(240, 240, 240);">
                <div class="card-body">
                    <div class="container">
                        <form action="{% url 'forecast:create_form' board.id%}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="wip_lower_bound">WIP - Low</label>
                                    <input type="text" name="wip_lower_bound" class="form-control" id="wip_lower_bound" value="20">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="wip_upper_bound">WIP - High</label>
                                    <input type="text" name="wip_upper_bound" class="form-control" id="wip_upper_bound" value="30">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="split_factor_lower_bound">Split Rate - Low</label>
                                    <input type="text" name="split_factor_lower_bound" class="form-control" id="split_factor_lower_bound" value="1.00">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="split_factor_upper_bound">Split Rate - High</label>
                                    <input type="text" name="split_factor_upper_bound" class="form-control" id="split_factor_upper_bound" value="3.00">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="throughput_lower_bound">Throughput - Low</label>
                                    <input type="text" name="throughput_lower_bound" class="form-control" id="throughput_lower_bound" value="1.00">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="throughput_upper_bound">Throughput - High</label>
                                    <input type="text" name="throughput_upper_bound" class="form-control" id="throughput_upper_bound" value="5.00">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="name">Form name</label>
                                    <input type="text" class="form-control" name="name" id="name" value="New Form">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="simulation_count">Simulation count</label>
                                    <input type="text" name="simulation_count" class="form-control" id="simulation_count" value="1000">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="throughput_from_data">Throughput Source</label>
                                    <select name="throughput_from_data" id="throughput_from_data" class="form-control">
                                        <option id="inputOptionForm" selected>Form Input</option>
                                        <option id="inputOptionData" >Historical Data</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="creation_date">Consider data starting from</label>
                                    <input type="date" name="creation_date" class="form-control" id="creation_date" value="{{LONG_TIME_AGO}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4" align="center">
                                    <button type="submit" class="btn btn-secondary">Create</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <input class="form-control" id="myInput" type="text" placeholder="Search by keyword...">
    <br>

    <form action="{% url 'forecast:estimate' board.id %}" method="post">
        {% csrf_token %}

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Choose </th>
                    <th>Name</th>
                    <th>#Sim</th>
                    <th>WIP</th>
                    <th>S_RATE</th>
                    <th>Throughput</th>
                    <th>Data?</th>
                    <th>(DB) Creation date</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for form in latest_form_list %}
                    <tr>
                        <td>
                            <input type="radio" name="form" id="form{{ forloop.counter }}" value="{{ form.id }}">
                        </td>
                        <td>
                            <label for="form{{ forloop.counter }}" data-toggle="tooltip"
                                   title="{{ form.name }}">
                                {{ form.name }}
                            </label>
                        </td>
                        <td>
                            {{form.simulation_count}}
                        </td>
                        <td>
                            [{{form.wip_lower_bound}}, {{form.wip_upper_bound}}]
                        </td>
                        <td>
                            [{{form.split_factor_lower_bound}}, {{form.split_factor_upper_bound}}]
                        </td>
                        <td>
                            {% if form.throughput_from_data %}
                                {{ form.get_throughput_avg }}
                            {% else %}
                                [{{ form.throughput_lower_bound}}, {{ form.throughput_upper_bound }}]
                            {% endif %}
                        </td>
                        <td>
                            {% if form.throughput_from_data %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {{ form.creation_date }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" align="center">
                <button type="submit" class="btn btn-secondary"> Estimate </button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>

    {% if error_message %}
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" align="center">
                <p>
                    <strong> Warning: {{ error_message }} </strong>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% endif %}


    <script>
        $(document).ready(function(){$("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}