{% extends "base.html" %}
{% block title %}My amazing index{% endblock %}

{% block body %}

    <h1>Choose board </h1>
    <br>
    <div class="row">
        <div class="col-md-auto">
            <h3>Total number of boards in database: {{latest_board_list.count}}</h3>
        </div>
        <div class="col"></div>
        <div class="col-md-auto">
            <span class="float-right">
                <form action="{% url 'forecast:fetch'%}" method="post">
                    {% csrf_token %}

                    <input class="btn btn-dark" type="submit" name="fetch_button" value="Fetch Boards"/>
                </form>
            </span>
        </div>
    </div>
    <br>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-light btn-lg btn-block" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b> Create Form (click to collapse)</b>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                 data-parent="#accordion" style="background-color: rgb(240, 240, 240);">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="list-no-source-list" data-toggle="list" href="#list-no-source" role="tab" aria-controls="no-source">No source</a>
                                    <a class="list-group-item list-group-item-action" id="list-jira-list" data-toggle="list" href="#list-jira" role="tab" aria-controls="jira">Jira</a>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-10">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="list-no-source" role="tabpanel" aria-labelledby="list-no-source-list">
                                        <form action="{% url 'forecast:create_query_from_data' 7%}" method="post">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="wip_lower_bound"> <b> WIP - Low </b></label>
                                                    <input type="text" name="wip_lower_bound" class="form-control" id="wip_lower_bound" value="20">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="wip_upper_bound"> <b> WIP - High </b> </label>
                                                    <input type="text" name="wip_upper_bound" class="form-control" id="wip_upper_bound" value="30">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="throughput_lower_bound"> <b> TPUT - Low </b> </label>
                                                    <input type="text" name="throughput_lower_bound" class="form-control" id="throughput_lower_bound" value="1.00">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="throughput_upper_bound"> <b> TPUT - High </b> </label>
                                                    <input type="text" name="throughput_upper_bound" class="form-control" id="throughput_upper_bound" value="5.00">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="split_factor_lower_bound"> <b> Split Rate - Low </b> </label>
                                                    <input type="text" name="split_factor_lower_bound" class="form-control" id="split_factor_lower_bound" value="1.00">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="split_factor_upper_bound"> <b> Split Rate - High </b> </label>
                                                    <input type="text" name="split_factor_upper_bound" class="form-control" id="split_factor_upper_bound" value="3.00">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="name"> <b> Form name </b> </label>
                                                    <input type="text" class="form-control" name="name" id="name" value="New Form">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="simulation_count"> <b> Simulation count </b> </label>
                                                    <input type="text" name="simulation_count" class="form-control" id="simulation_count" value="1000">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <input type="submit" name="create-button" class="form-control btn btn-success" id="create-button" value="->"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="list-jira" role="tabpanel" aria-labelledby="list-jira-list">
                                        <form action="{% url 'forecast:create_query_from_jql' %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="name_jql"> <b> Name </b></label>
                                                    <input type="text" name="name_jql" class="form-control" id="name_jql" value="20">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="jql_query_jql"> <b> JQL Query </b> </label>
                                                    <input type="text" name="jql_query_jql" class="form-control" id="jql_query_jql" value="30">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <input type="submit" name="create-button_jql" class="form-control btn btn-success" id="create-button_jql" value="->"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Search by keyword...">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th> </th>
            <th>Query Name</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for query in latest_query_list %}
        <tr>
            <td>
                <form action="{% url 'forecast:detail' query.id %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="supporttype" />
                        <input class="btn btn-success" type="submit" value="->">
                </form>
            </td>
            <td>
                {{ query.name }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Webhook hits</th>
            <th>Webhook payloads</th>
        </tr>
        </thead>
        <tbody id="myWebhookLog">
        {% for webhook in msglog_webhook_list %}
        <tr>
            <td>
                {{ webhook.cnt }}
            </td>
            <td>
                {{ webhook.text }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}